#### **№0**

Write a lambda function calculating for a given $n \in \mathbb{N}, n > 0$ its factorial $1 \cdot 2 \cdot 3 \cdot \ldots \cdot n$

_Example:_  
`factorial(5)` $\rightarrow$ `120`

#### **№1**

Write a function that finds all the [anagrams](https://en.wikipedia.org/wiki/Anagram) of a word from a list.   
You are given two inputs: a word and an array with words. You should return an array of all the anagrams or an empty array if there are none

_Example:_  
`anagrams('abba', ['aabb', 'abcd', 'bbaa', 'dada'])` $\rightarrow$ `['aabb', 'bbaa']`  
`anagrams('racer', ['crazer', 'carer', 'racar', 'caers', 'racer'])` $\rightarrow$ `['carer', 'racer']`  
`anagrams('laser', ['lazing', 'lazy',  'lacer'])` $\rightarrow$ `[]`

#### **№2**

Write a function calculating [atan2](https://en.wikipedia.org/wiki/Atan2) in degrees using `numpy` 

_Example:_  
`atan2(2, -2)` $\rightarrow$ `135.0`

#### **№3**

Write a lambda function which merges given lists with numbers into a single one and finds its [median](https://en.wikipedia.org/wiki/Median), 0.25 and 0.75 [quantiles](https://en.wikipedia.org/wiki/Quantile)

_Example:_   
`median([1, 2],[2, 3, 4, 4, 50])` $\rightarrow$ `(3.0, array([2., 4.]))`   
`median([1, 2],[2, 3, 4, 4, 50], [-999, 0], [999])` $\rightarrow$ `(2.5, array([1.25, 4.]))`

#### **№4**

Using `pd.DataFrame.apply()` method sort values in each row of a given dataframe

_Example:_
`x` $\rightarrow$ `x_sorted` (as below)

In [1]:
import pandas as pd
x = pd.DataFrame({'A': [2, 3, 4], 'B': [6, 3, 2], 'C': [9, 2, 18]})
x

   A  B   C
0  2  6   9
1  3  3   2
2  4  2  18

In [2]:
x_sorted = pd.DataFrame({'A': [2, 2, 2], 'B': [6, 3, 4], 'C': [9, 3, 18]})
x_sorted

   A  B   C
0  2  6   9
1  2  3   3
2  2  4  18

#### **№5**

0) Read Titanic dataset from `data/titanic.csv` file into a pandas dataframe  

1) Calculate mean age of survived men embarked in Southampton with fare > 30

2) Compute the number of families with more than k members. A family is a group with the same last name, the last name is defined as the words in the Name field up to the first comma

3) Compute a death rate of passengers with lucky tickets (a lucky ticket has ID with even number of digits and the sum of digits in the first half of the ticket ID is equal to the sum in the second half)

#### **№6** 

Load the dataset from `data/XYZ.csv`, sample 3000 objects from it (fix `random_state=123`) and using `seaborn` reproduce for this dataset the plot:

<center>
<img src="images/xyz_pairplot.png">
</center>

In [ ]:
# how do you think this data was generated?

#### **№7**

Fit and visualize the data in `data/fit_df.csv` using:   
1) `np.polyfit`   
2) `scipy.optimize.curve_fit` (choose a function which you think is the most suitable, except for a polynomial one)