<center>
<img src="images/Jack-Nicholson-in-The-Shining-2043016.jpg" alt="Jack-Nicholson-in-The-Shining">
</center>

## <h1><center>**Here's Python!**</center></h1>

Credit: this notebook was inspired by and built upon [this tutorial]( https://github.com/HSE-LAMBDA/MLatMIPS-2020) from Mosphys 2020 school.

In [ ]:
!python --version # any shell command can be used in jupyter by prefixing it with '!' symbol

In [ ]:
# and yes, you can leave comments after "#" symbol

Python is a widely-used general-purpose, high-level programming language. It was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation. It was mainly developed for emphasis on code readability, and its syntax allows programmers to express concepts in fewer lines of code.

Python, as a high-level programming language, allows you to focus on the core functionality of the application by taking care of common programming tasks. The simple syntax rules of the programming language further make it easier for you to keep the code base readable and application maintainable.

Many words can be spoken, but the best way to learn new language is by practising it, so we'll go straight to that! However, if you want to learn more, then don't hesitate to have a look at [this tutorial](https://docs.python.org/3.8/tutorial/) and also at these three courses \[[1](https://github.com/MelLain/mipt-python) [2](https://github.com/stanfordpython/course-reader) [3](https://developers.google.com/edu/python/introduction)\] - they are really cool!

One more **extremely useful tip** before we continue: in case of problems, simply **google it!** Say what you want to do in python (**in English!** this enormously increases your chances to find the answer), e.g. "apply function to several columns in pandas dataframe". This is very likely that your question was already answered at [stackoverflow.com](https://stackoverflow.com/questions) :)

## **Using python as a calculator**

Before you start writing any code, it's worth mentioning that Python has [**style guidelines**](https://www.python.org/dev/peps/pep-0008/) and that you should probably study it:) There is lots of freedom on how you can write this and that, so to reduce the inner "tensions" while looking through someone's code ("oh my, why would you put there so many spaces...") these conventions help the community to understand each others code more clearly.

In [ ]:
1 + 1

In [ ]:
# Multiply two operands.

5 * 5

In [ ]:
10 * (15 - 5)

In [ ]:
# Exponent - left operand raised to the power of right.
# x**y (x to the power y).

2**4  # (x**y)

In [ ]:
# Divide left operand by the right one (always results into float).

10 / 2

In [ ]:
# Floor division - division that results in the whole number adjusted to the left in the number line.

10 // 2

In [ ]:
10 / 3

In [ ]:
10 // 3

In [ ]:
10 / 9

In [ ]:
# Modulus - the remainder of the division of left operand by the right.
# x % y (remainder of x/y).

10 % 9

## **Variables**

### Static vs Dynamic typing

Declaring variables in JavaScript, Ruby and Python is different from in languages such as C, Java and C++. This is because they are **dynamically typed languages**. This means that the types of the variables that you declare are enforced at run-time as opposed to compile-time (and vice versa for C, Java and C++).

**Dynamic**: types are enforced by the value of the variable, thus the type of the variable can be changed if the value of the variable changes.  
**Static**: types are enforced by the variable itself, meaning it cannot be changed and the value that is assigned to it MUST be of the type dictated by the variable.

### Integer, float, complex

In [ ]:
# You don't need to specify the type of a variable in Python.

a = 1
b = 5

In [ ]:
# type() method returns class type of the argument(object) passed as parameter.

type(a)

In [ ]:
# Output of results

print(a, ' and ', b)

# Do you understand how print() works?

In [ ]:
print("Hello", "how are you?")

In [ ]:
print("Hello", "how are you?", sep=", ")

**Be careful with your variable names!** Python allows you to use the built-in function names for your variables, which can mess things up:

In [ ]:
print = False
print

In [ ]:
print(10)

In [ ]:
del print
print(10)

In [ ]:
# note that after a cell execution the value of the last expression will be printed out
# so you don't always have to use the `print` function
a = 1
b = 2
a + b

In [ ]:
# unless you finish a line with a semicolon:
a + b;

In [ ]:
# https://docs.python.org/3/library/functions.html#input

a = input('Type something: ')
a

In [ ]:
type(a) # see below about strings  in Python

In [ ]:
x = input('Enter your name: ')
print('Hello, ' + x)

In [ ]:
# Type float(x) to convert x to a floating-point number.
a = 1
a = float(a)

In [ ]:
# Output of 'a'

a

In [ ]:
type(a)

In [ ]:
# In programming you often need to know if an expression is True or False.
# You can evaluate any expression in Python, and get one of two answers, True or False.
# When you compare two values, the expression is evaluated and Python returns the Boolean answer:

t = True
t

In [ ]:
f = False
f

In [ ]:
type(t)

In [ ]:
type(f)

In [ ]:
a = 1
b = 2

print(a == b)  # Equal to - True if both operands are equal
print(a + 1 > b)  # Greater than - True if left operand is greater than the right
print(a + 1 >= b) # Greater than or equal to - True if left operand is greater than or equal to the right
print(type(a + 1 > b))

In [ ]:
j = True
k = False
l = j == k  # Do you understand this? What is 'l' here?

print(j, k, l)

In [ ]:
# booleans
j = True
k = False
l = j != k  # Not equal to - True if operands are not equal. And the same question about 'l'.

print(j, k, l)

In [ ]:
# booleans
j = False
k = False
l = j == k

print(j, k, l)

In [ ]:
# The 'not' keyword is a logical operator.
# The return value will be True if the statement(s) are not True, otherwise, it will return False.

not 1

In [ ]:
not 0

In [ ]:
# Floating-point number.

c = 4.5
c

In [ ]:
# You can write .5 instead of 0.5, it will be the same number.

c = .5
c

In [ ]:
d = 0.5
d

In [ ]:
a

In [ ]:
c = 6.7

In [ ]:
type(c)

In [ ]:
c = int(c)

In [ ]:
c

In [ ]:
type(c)

In [ ]:
d = 8.
e = 1.2e3
print(d, e)

In [ ]:
a = 1
b = 2
c = a / b

print(a, b, c)

# Anything after a '#' is a comment.
# Note that `c` has a different type (float) compared to `a` and `b` (which are of integer type).

In [ ]:
type(a)

In [ ]:
type(c)

In [ ]:
a = 123
type(a)

In [ ]:
print(type(a))

# Do you understand the output of the function?
# If you don't know object-oriented programming yet, you will find out more about it later (below section).

In [ ]:
# Multiple assignments in Python
a, b, c = 1, 2, 5

In [ ]:
a, b, c

In [ ]:
a = b = c = 99

In [ ]:
a, b, c

In [ ]:
a, b = 2, 3
a, b = b, a # do you understand what's happening here? and from the memory allocation perspective?

In [ ]:
a, b

In [ ]:
# You can assign a variable to output a function.
# See below about functions.

v73 = type(73)
type(v73)

In [ ]:
v73

In [ ]:
aaa = type(4.5)
aaa

# Is it a correct variable name?

# Choosing names which are sensible and can be easily understandable, while coding in Python, is very crucial.
# This will save time and energy of a reader. Inappropriate names might lead to difficulties when debugging.
# See PEP-008 guidelines in the beginning of this notebook for more details

In [ ]:
# Complex number.

a = 1 + 5j
a

In [ ]:
type(a)

In [ ]:
print(type(a))

In [ ]:
# Conjugate number.

a.conjugate()

In [ ]:
c1 = 2 + 1j
c2 = 1 / 1j
c3 = 1j

print(c1)
print(c2)
print(c3)

In [ ]:
c1 = 2 + 1 * j

# Is it the correct syntax?

In [ ]:
c1 = 2 + 0j
c1

In [ ]:
type(c1)

In [ ]:
c4 = 1 + 2i
print(c4)

# Is it the correct syntax? 'j' or 'i'? Or something else?

In [ ]:
a, b = 3, 3 + 4j

In [ ]:
a

In [ ]:
b

In [ ]:
a, b = b, a

In [ ]:
a

In [ ]:
b

In [ ]:
a = 5

In [ ]:
a = complex(a)

In [ ]:
a

In [ ]:
b = int(a)
b

### Problem №0

In Jupyter you can get help using **Tab** key - after typing the name of object following the . character it will show the list of available options. You can also press Shift+Tab inside of function brackets () to get the function's description. 

Use it to find the real and imaginary parts of a complex number (for example, a = 3 + 7j).

### Operations with numeric variables

In [ ]:
a = -3
a

In [ ]:
a = a * (-1)
a

In [ ]:
a = 45
a2 = a
a2

In [ ]:
a2 + 4

In [ ]:
a2 = a2 + 4
a2

In [ ]:
a2 = a
a2

In [ ]:
# There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same.
# It is equivalent to a = a + 5.

In [ ]:
a2 += 4  # a2 = a2 + 4
a2

In [ ]:
a3 = a + 3
a3

In [ ]:
a3 *= 3
a3
# and the same for '-=' and '/=' and '%=' and '//=' and '**='

In [ ]:
1 & 1  # Bitwise AND

In [ ]:
1 & 0

In [ ]:
0 & 0

In [ ]:
1 | 1  # Bitwise OR

In [ ]:
1 | 0

In [ ]:
0 | 0

In [ ]:
1 ^ 0  # Bitwise XOR

In [ ]:
1 ^ 1

In [ ]:
0 ^ 1

In [ ]:
0 ^ 0

### None

In [ ]:
type(print)

In [ ]:
a = print(1)

In [ ]:
a

In [ ]:
type(a)

In [ ]:
# The None keyword is used to define a null value or no value at all.

In [ ]:
type(print(1))

In [ ]:
type(1)

In [ ]:
type(type(1))

In [ ]:
a = None

In [ ]:
a

In [ ]:
print(a)

In [ ]:
type(a)

### Strings

In [ ]:
# Like many other popular programming languages, strings in Python are arrays of bytes representing Unicode characters.
# However, Python does not have a character data type, a single character is simply a string with a length of 1.

In [ ]:
a = 'Hello world'
a

In [ ]:
type(a)

In [ ]:
# Square brackets can be used to access elements of the string

a = "Hello, World!" # you can use either "" or '' (beware of some minor exceptions though)
print(a[1])

In [ ]:
# Strings are immutable, so item assignments operations are not supported
# See below for more on mutability
a[1] = 'e'

In [ ]:
a = "Hello world"
a

In [ ]:
'Hello world'

In [ ]:
a = 545
type(a)

In [ ]:
a = str(a)
a

In [ ]:
type(a)

In [ ]:
f1 = 'Hello!'
f2 = "Hi"

g = """Hi there!
I'm a multiline string!"""

h = 'foo' 'bar'
h1 = 'foo', 'bar'

i = ' """"""""""" '

print(f1, f2)
print(g)
print(h)
print(h1)
print(i)

### Operations with strings

In [ ]:
"Hello" + " " + "world" # Operations with strings always create a new string

In [ ]:
'Hello' + ' world' + ", ok?"

In [ ]:
"\" Text:) \""

In [ ]:
'\" Text:) \"'

In [ ]:
"\' Text:) \'"

In [ ]:
'\' Text:) \''

In [ ]:
a = 1
b = 2
print("Hello " + "world!")
print("%i + %i = %i" % (a, b, a + b))
print("%f + %f = %f" % (a, b, a + b))
print("{} + {} = {}".format(a, b, a + b))
print("{var_a} + {var_b} = {result}".format(result=a + b, var_a=a, var_b=b))
print("1 + 2 = %.6f" % (1 + 2))
print("1 + 2 = {}".format(1 + 2))
print("1 + 2 = {:.4f}".format(1 + 2))

In [ ]:
# Do you know how to write **10.45** as **10.45000** using the information from the previous cell?

In [ ]:
'Hello, {}!'.format('world')

In [ ]:
# check out f-strings! https://docs.python.org/3/reference/lexical_analysis.html#f-strings
name = "Fred"
f'He said his name is {name}.'

### List

Below we have a look at several ways to organise together a collection of Python objects:

**List** is a collection which is ordered and mutable. Allows duplicate members.  
**Tuple** is a collection which is ordered and immutable. Allows duplicate members.  
**Dictionary** is a collection which is unordered, mutable and indexed. No duplicate indices allowed.  
**Set** is a collection which is unordered and unindexed. No duplicate members.

Mutable means that object value can be change after creating it, whilst an object is called immutable if this value can't be changed. Have a look at [this article](https://towardsdatascience.com/https-towardsdatascience-com-python-basics-mutable-vs-immutable-objects-829a0cb1530a) and [this documentation](https://docs.python.org/3/tutorial/datastructures.html#) for more examples, but we will also explore this a bit in the 'tuple' section.

In [ ]:
list1 = [1, 2, -3, 'hello', 4e5, 8j, False]
print(list1)
print(type(list1))

In [ ]:
list11 = list1 + list1
print(list11)

In [ ]:
# list.append(elem) -- adds a single element to the end of the list.
# Common error: does not return the new list, just modifies the original.

list1.append('world')
list1

In [ ]:
list2 = [[True, False], ['Hello'], 42]
list2

In [ ]:
list2.append(list2)
list2

Here's how you can index lists (indexing starts with 0):

In [ ]:
list1 = [1, 2, -3, 'hello', 4e5, 8j, False]
print(list1[0])
print(list1[-1])
print(list1[-2])
print(list1[-4])

In [ ]:
list1 = [1, 2, -3, 'hello', 4e5, 8j, False]

In [ ]:
# and here are the slices:

print(list1[:6:2])  # most general form - every 2nd element from 1 to 6
print(list1[2::3])  # elements from 2 to the end with step 3
print(list1[::2])  # every 2nd element starting from 0
print(list1[::-1])  # all list in reverse order
print(list1[2:5])  # elements from 2 to 5 (not including 5)
print(list1[-2:])  # last two elements of the list

In [ ]:
# See below about 'for' in Python.

a = [1, 2, 3, 'Hello']

for i in a:
    print(i, type(i)) # indentation is important! will explain this in a bit

print(type(a))

In [ ]:
a = []
for i in range(5):
    a.append(i)
print(a)

In [ ]:
# list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.

a = []
for i in range(1, 20, 3):
    print(i)
    a.insert(0, i)
print("\n")
print(a)

In [ ]:
a = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
for i in range(10):
    print(a[i])

In [ ]:
a = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
for i in range(10):
    print(a)

In [ ]:
a = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
b = [1, 1, 1, 1, 1]
c = [1, 1, 1, 1, 1]
for i in range(1, 10, 3):
    print(i)
    a.insert(0, 'c')
    b.insert(i, 'w')
    c.insert(i + 1, 'w')
print()
print(a)
print("\n")
print(b)
print("")
print(c)

In [ ]:
# list.extend(list2) adds the elements in list2 to the end of the list.
# Using + or += on a list is similar to using extend().

a = [1, 1, 1]
b = [5, 5, 5]
a.extend(b)
a

In [ ]:
# list.remove(elem) -- searches for the first instance of the given element and
# removes it (throws ValueError if not present)

a = [1, 1, 1]
a.remove(1)
a

In [ ]:
a = [4, 1, 1]
a.remove(4)
a

In [ ]:
a = [4, 1, 1]
a.remove(7)
a

In [ ]:
# Do you understand the previous error?

In [ ]:
# The count() method returns the number of times the specified element appears in the list.

a = [4, 1, 1, 5, 8, 10, 4, -4]
a.count(-4)

In [ ]:
# list.reverse() -- reverses the list in place (does not return it).

a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a.reverse()
a

In [ ]:
a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a[::-1]  # reverse()

In [ ]:
# The clear() method removes all items from the list.

a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a.clear()
a

In [ ]:
# list.sort() -- sorts the list in place (does not return it).
# The sorted() function shown later is preferred.

a = [4, 1, 1, 5, 8, 10, 4, -4]
a.sort()
a

In [ ]:
a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a.sort()

In [ ]:
# Do you understand the previous error?

In [ ]:
a, b = [1, 2]

In [ ]:
a

In [ ]:
type(a)

In [ ]:
# Join two lists together:

a = [10, 20, 30, 40]
b = ['a', 'b', 'c', 'd', 'e']
for i, j in zip(a, b):
    print(i, j)

In [ ]:
# here we showcase a bit of build-in functions of Python
# have a look here for more fancy
# https://docs.python.org/3.8/library/functions.html

In [ ]:
import itertools  # See below about 'import'

a = [10, 20, 30, 40]
b = ['a', 'b', 'c', 'd', 'e']
c = [1.1, 1.2]
for i in itertools.zip_longest(a, b, c):
    print(i)

In [ ]:
s = 'abc'
t = (10, 20, 30, 40)
a = list(zip(s, t))
a

In [ ]:
type(a)

In [ ]:
a = [-1, 0, 1, 0, 0, 1, 0, -1]
b = list(filter(None, a))
b

In [ ]:
a = ['a', '', 'd', 'cc', ' ']
b = list(filter(None, a))
b

### Problem №1

Write a Python program to clone or copy a list.

You have original_list = [50, 4, 52, 't', 34, '9z4'].

### Problem №2

Write a Python program to convert a list of characters into a string.

You have list1 = ['h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

### Tuple

A very similar type is called "tuple". Similarly to lists, tuples are arrays of objects, but the major difference is that they are **immutable**. Let's compare them side-by-side.

In [ ]:
list2 = [[True, False], ['Hello'], 42]
tuple1 = (1, 2, 'foo')
tuple2 = tuple(list2)  # You can initialize tuples with lists and vice versa
print(tuple1)
print(tuple2)

Note that inner lists from `list2` are stored as lists within the `tuple2`, so they are mutable:

In [ ]:
tuple2[0].append(8)
print(tuple2)

Also note, that the first item in `list2` has changed as well:

In [ ]:
list2

This illustrates a very important feature of python: **all objects are stored by reference.** Since `tuple2` was initialized from `list2`, they both reference the same object instances.
You can check whether two variables are referencing the same object with `is` operator:

In [ ]:
print(list2[-1])
print(list2[-1] is list2)
print(tuple2[0] is list2[0])

Two empty tuples created with `tuple()` expression will reference the same object:

In [ ]:
tuple() is tuple()

while two empty lists won't, since lists are mutable (and the two empty list instances may be changed differently):

In [ ]:
list() is list()

### Dictionary

Another important type is a **dictionary**. Dictionaries are key->value mappings with a restriction that keys can only be immutable objects.

In [ ]:
# several ways to create
dict1 = {"foo": 'bar', -3: False}
dict2 = dict(foo='bar', hello='world')

print(dict1)
print(dict2)

In [ ]:
# accessing elements
print(dict1[-3])
print(dict2['foo'])

dict2['new_key'] = 'new_value'
print(dict2)

In [ ]:
d = {'key': 'value'}
print(d)

d['my_new_key'] = 'my_new_value'
print(d)

In [ ]:
x = {1: 2}
print(x)

In [ ]:
d = {3: 4, 5: 6, 7: 8}
x.update(d)
print(x)

In [ ]:
names = ['Tom', 'Dick', 'Harry']
ages = [50, 35, 60]

a = dict(zip(names, ages))
a

In [ ]:
type(a)

In [ ]:
# Only hashable objects can be used as dict keys.
# Mutable objects are always not hashable
incorrect_key = ['Bob']
a[incorrect_key] = 42

In [ ]:
# Dictionary of string and int
word_freq = {"Hello": 56, "at": 23, "test": 43, "this": 78}

key = 'test'

# python check if key in dict using "in"
if key in word_freq:
    print(f"Yes, key: '{key}' exists in dictionary")
else:
    print(f"No, key: '{key}' does not exists in dictionary")

In [ ]:
# Dictionary of string and int
word_freq = {"Hello": 56, "at": 23, "test": 43, "this": 78}

key = 'notest'

# python check if key in dict using "in"
if key in word_freq:
    print(f"Yes, key: '{key}' exists in dictionary")
else:
    print(f"No, key: '{key}' does not exists in dictionary")

### Set and frozenset

In [ ]:
a = {4, 5, 6}
a

In [ ]:
type(a)

In [ ]:
# Frozenset is an immutable version of set
b = frozenset('qwerty')
b

In [ ]:
type(b)

In [ ]:
this_set = {"apple", "banana", "cherry"}
print(this_set)

# Note: Sets are unordered, so you cannot be sure in which order the items will appear.
# Once a set is created, you cannot change its items, but you can add new items.
# To add one item to set use the add() method.
# To add more than one item to set use the update() method.

In [ ]:
this_set = {"apple", "banana", "cherry"}
this_set.add("orange")

print(this_set)

In [ ]:
this_set = {"apple", "banana", "cherry"}
this_set.update(["orange", "mango", "grapes"])

print(this_set)

In [ ]:
# To remove an item in a set, use the remove(), or the discard() method.

this_set = {"apple", "banana", "cherry"}
this_set.remove("banana")

print(this_set)

In [ ]:
this_set = {"apple", "banana", "cherry"}
this_set.discard("banana") 

print(this_set)

In [ ]:
# Remove the last item by using the pop() method:

this_set = {"apple", "banana", "cherry"}
item = this_set.pop()

print(item)
print(this_set)

In [ ]:
# The clear() method empties the set:

this_set = {"apple", "banana", "cherry"}
this_set.clear() 

print(this_set)

Sets also support other operations - union, intersection, etc. 
Full list can be found here: https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

In [ ]:
# Only hashable objects can be stored is set
this_set.add(['pineapple'])

## **Loops, conditionals and iterables**

**Important note on indentation in Python:** 

In general, if you type some lines of code, they will most probably come in _blocks_ according to some logic where every block has its specific purpose. Most of the programming languages like C, C++, Java use braces { } to define a block of code. One of the distinctive features of Python is its **use of indentation to highlighting the blocks of code.** Whitespace is used for indentation in Python. All statements with the same distance to the right belong to the same block of code. If a block has to be more deeply nested, it is simply indented further to the right.

### If/else

In [ ]:
null_variable = None
not_null_variable = 'Hello There!'

if null_variable is None:
    print('null_variable is None')  # Four spaces or one Tab
else:
    print('null_variable is not None')  # Four spaces or one Tab

In [ ]:
# you can also have nested if-conditions
a = 0
if True is not None:
    if a in [1, 2, 3]:
        a += 1
    elif a in (0, -1, -2):
        print(f'a = {a}')
    else:
        print('')
else:
    print('True is None')

### While

In [ ]:
a = 0

while a < 10:
    a += 1
    print(a**2)

In [ ]:
a = 0

while a < 10:
   a += 1
   print(a**2)

# Can you fix the line with 'a += 1'?

In [ ]:
a = 0

while a < 10:
    a += 1
  print(a**2)

# Can you fix the line with 'print(a**2)'?

In [ ]:
i = 0
while i < 10:
    if i == 5:
        print("end.")
        break
    else:
        print(i)
        i += 1

In [ ]:
# Now without 'print("end.")'
# Do you understand the logic of 'break'?
# Where is printout from 'print("end.")'?

i = 0
while i < 10:
    if i == 5:
        break
        print("end.")
    else:
        print(i)
        i += 1

### For

In [ ]:
a = 2
for i in range(10):
    print('i = ', i)
    if a < 7:
        print('a = ', a)
    else:
        print("end")
        break
    a += 1
    print("\n")

In [ ]:
for num in range(7):
    print('num = ', num)
    if num == 3:
        continue
    if num == 5:
        continue
    else:
        print(num)

In [ ]:
for num in range(7):
    print('num = ', num)
    if num == 3:
        print('some text')
        continue
    if num == 5:
        continue
    else:
        print(num)

In [ ]:
# Do you understand the logic of 'continue'?
# Where is out from 'print('some text')'?

for num in range(7):
    print('num = ', num)
    if num == 3:
        continue
        print('some text')
    if num == 5:
        continue
    else:
        print(num)

In [ ]:
for num in range(7):
    if num < 3:
        pass
    else:
        print(num)

In [ ]:
# Do you understand the logic of 'pass'?

for num in range(7):
    if num < 3:
        pass
        print('text')
    else:
        print(num)

In [ ]:
objects = [1, 2, 'hello', False]

# loop over elements of the list
for obj in objects:
    print(obj)

In [ ]:
for i in range(5):
    print(i)

Note that `range` has more arguments. Place the cursor right after the opening bracket and hit **TAB** to see help:

In [ ]:
# for i in range(20, 63, 3):
for i in range()
    print(i)

In [ ]:
for i in range(100):
    if i % 7 == 1 and i % 5 == 3:
        print("i % 7 == 1 and i % 5 == 3:", i)
    if not (i > 3) or i > 98:
        print("not (i > 3) or i > 98:", i)

In [ ]:
list1 = [3, 15, 27, 42]
list2 = []

for i in range(30):
    if i in list1:
        list2.append(i**2)

print(list2)

### Iterables

In [ ]:
squares = []
squares

In [ ]:
# list comprehension
# do you understand what's happening here?

squares = [i * i for i in range(10)]
squares

In [ ]:
odds = [x for x in range(10)]
odds

In [ ]:
odds = [x for x in range(10) if x % 2 != 0]
odds

In [ ]:
[x**2 if x % 2 == 0 else x**3 for x in range(10)]

In [ ]:
a = [x**2 if x % 2 == 0 else x**3 for x in range(10)]
type(a)

In [ ]:
# mapping function to iterables
list_of_words = ['one', 'two', 'list', '', 'dict']
list(map(str.upper, list_of_words))

In [ ]:
list_of_str = ['1', '2', '5', '10']
list(map(float, list_of_str))

In [ ]:
# iterating over enumerated objects
a = [10, 20, 30, 40]
for i in enumerate(a):
    print(i)

In [ ]:
b = "hello"
for i in enumerate(b):
    print(i)

In [ ]:
# iterating over dictionary
c = {1: 'a', 2: 'b', 3: 'c'}
for i in enumerate(c):
    print(i)

In [ ]:
for i in c.values():
    print(i)

In [ ]:
for i in c.keys():
    print(i)

In [ ]:
for i in c.items():
    print(i)

In [ ]:
# iterating over elements of list
num_list = [1, 2, 3, 4, 5]
for i in num_list:
    print(i)

In [ ]:
# creating iterators
itr = iter(num_list)

In [ ]:
print(next(itr))

In [ ]:
print(next(itr))

In [ ]:
print(next(itr))

In [ ]:
print(next(itr))

In [ ]:
print(next(itr))

In [ ]:
print(next(itr))

In [ ]:
# Do you understand the previous error?
# and why would iterators be helpful in the first place?

### Problem №3

Sum all the items in a list.

You have l = [0, 1, -1, 2, 3, 30, -100, 5]. How to find this sum?

### Problem №4

Write a Python program to check a list is empty or not.

You have list1 = [3, 5, -7, 'mipt', 0.8] and list2 = [].

### Problem №5

Write a Python program to construct the following pattern using a nested for loop (so without `print()` calls as below).

In [ ]:
print('*')  
print('* *')  
print('* * *')        
print('* * * *')     
print('* * * * *')     
print('* * * *')     
print('* * *')     
print('* *')     
print('*')