<center>
<img src="images/nva5b9dq8r631.png" alt="Python-MEME" width="500" height="600">
</center>

Credit: this notebook was inspired by and built upon [this tutorial]( https://github.com/HSE-LAMBDA/MLatMIPS-2020) from Mosphys 2020 school.

## **Before we start**

Don't forget **the most important helper feature** in Jupyter notebooks: 
* if you're typing something, press `Tab` to see automatic suggestions, use arrow keys + enter to pick one.
* if you move your cursor inside some function and press `Shift + Tab`, you'll get a help window.

## **Numpy**

Almost any machine learning model requires some computational heavy lifting usually involving linear algebra problems. Unfortunately, raw python is terrible at this because each operation is interpreted at runtime. 

So instead, we'll use [NumPy](https://numpy.org) - a library that lets you run blazing [fast](https://numpy.org/doc/stable/user/whatisnumpy.html#why-is-numpy-fast) computation with vectors, matrices and other tensors. In this notebook we will present a general overiview of NumPy, but we also encourage you to have a look at [this](https://numpy.org/devdocs/user/quickstart.html) quickstart tutorial for yet another introduction into the library.

In [ ]:
import numpy as np

In [ ]:
big_array = np.random.rand(1000000)
%timeit sum(big_array)
%timeit np.sum(big_array)

### Creation

In [ ]:
# We can initialize NumPy arrays from Python lists, and access elements using square brackets
a = np.array([1, 2, 3, 4, 5])
b = np.array([5, 4, 3, 2, 1])
print("a = ", a)
print("b = ", b)

In [ ]:
type(a)

In [ ]:
c = np.array([[1, 2.0], [0, 0],
              (1 + 1j, 3.)])  # Note mix of lists and tuple, and mix of types
c

In [ ]:
c = np.array([[1, 2.0], [0, 0], (1 + 1j, 3.)], dtype=np.int)

In [ ]:
c = np.array([[1.5, 2, 3], [4, 5, 6]], dtype=np.complex)
c

In [ ]:
# or initialise using the following methods:

In [ ]:
np.arange(3, 15, 2)  # start, stop, step

In [ ]:
np.linspace(0, 10, 11)  # Divide [0, 10] interval into 11 points

In [ ]:
np.logspace(1, 10, base=2, dtype=np.int64)  # Base 2, number = 50

In [ ]:
np.logspace(1, 10, 10, base=2)  # Base 2, number = 10

In [ ]:
np.zeros(shape=(3, 4))

In [ ]:
np.ones(shape=(2, 5))

In [ ]:
np.ones(shape=(2, 5), dtype=np.bool)

In [ ]:
np.full((2, 2), 99)

In [ ]:
# Return a 2-D array with ones on the diagonal and zeros elsewhere
np.eye(4)

In [ ]:
np.random.random((2, 2))

### Problem â„–0

Compute the determinant of a given matrix.  
_Hint:_ you might want to use `numpy.linalg` module for this

In [ ]:
a = np.array([[1, 0], [1, 2]])
a

### Operations

In [ ]:
a = np.array([1, 2, 3, 4, 5])
b = np.array([5, 4, 3, 2, 1])

In [ ]:
# Math and boolean operations can be applied to each element of an array

print("a + 1 = ", a + 1)
print("a * 2 = ", a * 2)
print("a == 2 ", a == 2)

# And corresponding elements of two (or more) arrays
print("a + b = ", a + b)
print("a * b = ", a * b)
print("a / b = ", a / b)

In [ ]:
a = np.array([1, 2, 3, 4, 5])
b = np.array([5, 4, 3, 2])

print("a+b = ", a+b)
print("a*b = ", a*b)
print("(a*b) / 2 = ", (a*b) / 2)

In [ ]:
a = np.array([1, 2, 3, 4, 5])
b = np.array([5, 4, 3, 2, 1])

print("a * b = ", a * b)

In [ ]:
print("numpy.sum(a) = ", np.sum(a)) 
print("numpy.prod(a) = ", np.prod(a))
print("numpy.mean(a) = ", np.mean(a))
print("numpy.min(a) = ", np.min(a))
print("numpy.argmin(a) = ", np.argmin(a))  # Index of the minimal element

In [ ]:
print("numpy.dot(a, b) = ", np.dot(a, b))  # Dot product. Also used for matrix/tensor multiplication
print("a@b = ", a@b)  # fancier dot product 
print("numpy.subtract(a, b) = ", np.subtract(a, b))  # a - b
print("numpy.divide(a, b) = ", np.divide(a, b))  # a / b

In [ ]:
 # Find the unique elements of an array.
np.unique(['male', 'male', 'female', 'female', 'male', 'qqq'])

In [ ]:
np.unique([1, 2, 1, 1, 0, 99], return_counts=True)

### Transformations

#### indexing

In [ ]:
array = np.array([7, 5, 3, 2, 6, 1, 4])
array

In [ ]:
sorted_array = np.sort(array)
sorted_array

In [ ]:
reverse_array = sorted_array[::-1]
reverse_array

In [ ]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a

In [ ]:
a.shape

In [ ]:
# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):

b = a[:2, 1:3]
b

In [ ]:
b = a[:3, 0:4]
b

In [ ]:
b.shape

In [ ]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a

In [ ]:
# Two ways of accessing the data in the middle row of the array.
# Mixing integer indexing with slices yields an array of lower rank,
# while using only slices yields an array of the same rank as the
# original array:

a_row_1 = a[1, :]  # Rank 1 view of the second row of a
a_row_1

In [ ]:
a_row_1.shape

In [ ]:
a_row_2 = a[1:2, :]  # Rank 2 view of the second row of a
a_row_2

In [ ]:
a_row_2.shape

In [ ]:
a_row_1 = a[1, 1:3]  # Rank 1 view of the second row of a
a_row_1

In [ ]:
a = np.array([[1, 2], [3, 4], [5, 6]])

bool_idx = a > 2

bool_idx

#### reshaping

In [ ]:
np.arange(24)

In [ ]:
np.arange(24).reshape(6, 4)

In [ ]:
np.arange(24).reshape(2, 3, 4)

In [ ]:
np.arange(24).reshape(4, 3, 2)

In [ ]:
# add dimension
# do you understand why it might be useful?
np.arange(3)[:, np.newaxis]

In [ ]:
np.arange(3)[np.newaxis, :]

In [ ]:
np.arange(3)[:, np.newaxis] + np.arange(3)[np.newaxis, :]

#### concatinating

In [ ]:
matrix1 = np.arange(50).reshape(10, 5)
matrix1

In [ ]:
matrix2 = -np.arange(20).reshape(10, 2)
matrix2

In [ ]:
np.concatenate([matrix1, matrix2],
               axis=1)  # Join a sequence of arrays along an existing axis.

In [ ]:
# Axes are defined for arrays with more than one dimension.
# A 2-dimensional array has two corresponding axes: the first running vertically downwards across rows (axis 0),
# and the second running horizontally across columns (axis 1).

# Suppose your data tensor has the shape (19,19,5,80). This means:
# axis 0 = 19 elements
# axis 1 = 19 elements
# axis 2 = 5 elements
# axis -1 = axis 3 = 80 elements

In [ ]:
# Many operations can take place along one of these axes.
# For example, we can sum each row of an array, in which case we operate along with columns, or axis 1:

x = np.arange(12).reshape(3, 4)
x

In [ ]:
x.sum(axis=1)  # See below about 'sum'.

In [ ]:
x.sum(axis=0)

In [ ]:
x.sum(axis=-1)

In [ ]:
matrix1 = np.arange(50).reshape(10, 5)
matrix2 = -np.arange(20).reshape(10, 2)

np.concatenate([matrix1, matrix2])  # Default is 0.

In [ ]:
matrix2.T  # transposed array

### Problem â„–1

Divide diagonal elements of the matrix with the sum of elements in the corresponding row.

In [ ]:
a = np.arange(1, 17).reshape(4,4)
a

## **Pandas**

[Pandas](https://pandas.pydata.org/docs/index.html#) is a Python package that provides fast, flexible, and expressive data structures designed to make working with structured (tabular, multidimensional, potentially heterogeneous) and time series data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python.

Pandas is well suited for many different kinds of data:
* Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
* Ordered and unordered (not necessarily fixed-frequency) time series data.
* Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
* Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure

[Here](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html) you can have a look at quick overview of data formats in Pandas, but we will also go through them in this tutorial.

In [ ]:
import pandas as pd

### Creating dataframes

#### from numpy arrays

In [ ]:
a = np.random.normal(size=100)
a

In [ ]:
# The main object in pandas is DataFrame
df = pd.DataFrame(a)
df

In [ ]:
a = np.random.normal(size=20)
df = pd.DataFrame(a, columns=['column_name'], dtype=np.complex)
df

In [ ]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                  columns=['A', 'B', 'C'])
df

In [ ]:
df.A

In [ ]:
type(df)

In [ ]:
type(df.A)

#### from series

In [ ]:
a_array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])
b_array = np.random.randint(low=1, high=11, size=len(a_array))
b_array

In [ ]:
type(b_array)

In [ ]:
# Series is a one-dimensional labeled array
a_series = pd.Series(a_array, name='a_array', dtype='float32')
b_series = pd.Series(b_array, name='b_array', dtype='float32')
b_series

In [ ]:
type(b_series)

In [ ]:
df = pd.DataFrame({'a_series': a_series, 'b_series': b_series})
df

#### from file

In [ ]:
# .csv is one of the formats to store tabular data
!ls -lhtr data/train.csv

In [ ]:
# this is a Titanic dataset
data = pd.read_csv("./data/train.csv")

In [ ]:
data

In [ ]:
data = pd.read_csv("./data/train.csv", index_col='PassengerId')

In [ ]:
data

In [ ]:
data.shape

In [ ]:
data.  # press Tab

In [ ]:
data.columns

Here is the [description](https://www.kaggle.com/c/titanic/data) of some of the columns:
* Name - a string with a person's full name
* Survived - 1 if a person survived the shipwreck, 0 otherwise.
* Pclass - passenger class. Pclass == 3 is cheap'n'cheerful, Pclass == 1 is for moneybags.
* Sex - a person's gender
* Age - age in years, if available
* Sibsp - number of siblings/spouses on a ship
* Parch - number of parents/children on a ship
* Fare - ticket cost
* Embarked - the port where the passenger embarked (C = Cherbourg; Q = Queenstown; S = Southampton)
* Cabin - Cabin number
* Ticket - Ticket Number

In [ ]:
data.describe()  # Generate descriptive statistics.

In [ ]:
data["Sex"].describe()

### Accessing data

In [ ]:
head = data[:10]
head

In [ ]:
type(head)

In [ ]:
# return the first 5 rows
data.head()

In [ ]:
data.head(10)

In [ ]:
# return the last 5 rows
data.tail()

In [ ]:
data.tail(10)

In [ ]:
# return a random sample of items
data.sample()

In [ ]:
data.sample(5)

In [ ]:
# dimensions
print("len(data) = ", len(data))
print("data.shape = ", data.shape)

In [ ]:
# select a single row by label
data.loc[4]

In [ ]:
type(a)

In [ ]:
# select a single column.
ages = data["Age"]
ages[:10]

In [ ]:
data.Age[:10]

In [ ]:
# select several columns and rows at once

data.loc[5:10, ("Fare",
                "Pclass")]  # Alternatively: data[["Fare", "Pclass"]].loc[5:10]

In [ ]:
data[["Fare", "Pclass"]].loc[5:10]

There are two ways of [indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) the rows in pandas:
 *   by index column values (`PassengerId` in our case) â€“ with `.loc` 
 *   by positional index - with `.iloc`

Also in case of our dataset indices (`PassengerId`) start from 1, so positional index 0 will correspond to index column value 1, positional 1 to index column value 2, and so on:

In [ ]:
data.index

In [ ]:
print(data.iloc[0])

In [ ]:
print(data.loc[1])

### Querying data

In [ ]:
data[data['Sex'] == 'female']

In [ ]:
data[data["Pclass"] < 3]

In [ ]:
data.query('Pclass < 3')  # Query the columns of a DataFrame with a boolean expression.

In [ ]:
data.eval('SibSp + Parch')

In [ ]:
data.eval('FamilyRel = SibSp + Parch', inplace = True)

In [ ]:
data.head()

### Transforming data

In [ ]:
subdata = data[['Age', 'Parch']]

In [ ]:
subdata.apply(np.sqrt)  # Apply a function along an axis of the DataFrame.

In [ ]:
subdata.apply(np.sum, axis=0)

In [ ]:
subdata.apply(np.sum, axis=1)

In [ ]:
subdata.apply(lambda x: x, axis=1)

In [ ]:
# and now groups
# see for lot more on groups: https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html
grouped = data.groupby('Sex')

In [ ]:
grouped['Sex'].apply(lambda x: x.describe())

In [ ]:
grouped.sum()

In [ ]:
for name, group in grouped:
    print(name)
    print(group.head())

In [ ]:
# apply filter to group as a whole
filtered_group = data.groupby('Pclass').filter(lambda x: len(x.Survived) > 300)
filtered_group

In [ ]:
np.unique(filtered_group.Pclass)

In [ ]:
grouped.agg({'Fare': np.sum,
             'Age': lambda x: np.std(x, ddof=1),
             'Survived': np.mean
            })

### NaNs

Some columns contain __NaN__ values - this means that there is no data there. For example, passenger `#5` has an unknown age. To simplify the future data analysis, we'll replace NaN values by using pandas `fillna` function.

**NB: we do this so easily because it's a tutorial. In general, you think twice before you modify data like this.**

In [ ]:
data.iloc[5]

In [ ]:
data.loc[889]

In [ ]:
pd.isna(data)  # Detect them all

In [ ]:
data.notna()  # Detect existing (non-missing) values

### Problem â„–2

Identify the columns in the Titanic dataset which have NaN values, and also count their number. And one line of code pleaseðŸ˜‰

In [ ]:
data.head()

In [ ]:
# filling NaNs with 0
data.fillna(0)

In [ ]:
data['Age'][-5:]

In [ ]:
data['Age'].mean()

In [ ]:
# filling NaNs with mean of the column
data['Age'].fillna(value=data['Age'].mean())[-5:]

In [ ]:
# drop NaN values
data.dropna()  

# do you understand the default parameters?

In [ ]:
data.dropna(axis='columns')

In [ ]:
# Drop the rows where all elements are missing.
data.dropna(how='all')

In [ ]:
# Furthermore, one has to keep in mind that in Python (and NumPy), the nan's donâ€™t compare equal, but None's do.
# Note that pandas/NumPy uses the fact that np.nan != np.nan, and treats None like np.nan.

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3),
                  index=['a', 'c', 'e', 'f', 'h'],
                  columns=['one', 'two', 'three'])
df

In [ ]:
df_nans = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df_nans

In [ ]:
None == None

In [ ]:
np.nan == np.nan

In [ ]:
# So as compared to above, a scalar equality comparison versus a None/np.nan doesnâ€™t provide useful information.
df_nans['one'] == np.nan

### Problem â„–3

Find the guy, who paid the most for the ticket. Yeah, one line of code, as always.

### Problem â„–4

Find out whether children are more likely to survive.

In [ ]:
ax = data['Age'].hist()
ax.axvline(x=18, color='brown', linewidth=3)

### Coffee Break?